body {
  background-color: rgb(255, 253, 251);
}

h1 {
  font-size: 45px;
  letter-spacing: 5px;

  margin-top: 200px;
  margin-bottom: 70px;
  position: relative;
}

h1::before {
  content: '';
  position: absolute;
  bottom: -10px; /*adjust distance of underline from text*/
  left: 50%;
  width: 100px; /*adjust lenght of line*/
  border-bottom: 3px solid #000;
  transform: translateX(-50%);
}

.review {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
